// ====================================
// FFXIV Color Scheme for Bootstrap 4.x
// 
// ====================================

// scss color variables
$snow: #e4dfd0;
$ash: #aca8a2;
$goobbue: #898784;
$slate: #656565;
$charcoal: #484742;
$soot: #2a2922;
$rose: #e69f95;
$lilac: #836969;
$rolanberry: #5b1729;
$dalamud: #78191a;
$rust: #622207;
$wine: #451411;
$coral: #cc6c5e;
$blood: #913b27;
$salmon: #e4aa8a;
$sunset: #b65c2e;
$mesa: #7d3906;
$bark: #6a4b37;
$chocolate: #6e3d24;
$russet: #4f2d1f;
$kobold: #30211a;
$cork: #c99056;
$qiqirn: #996e3f;
$opo-opo: #7b5c2d;
$alodgoat: #a2875c;
$pumpkin: #c57424;
$acorn: #8e581a;
$orchard: #644215;
$chestnut: #3c290d;
$gobbiebag: #b9a488;
$shale: #92816c;
$mole: #615245;
$loam: #3f3329;
$bone: #ebd3a0;
$ui: #b7a370;
$desert: #dbb457;
$honey: #fac62b;
$millioncorn: #e49e34;
$coeurl: #bc8804;
$cream: #f2d770;
$halatali: #a58430; 
$raisin: #403311;
$mud: #585230;
$sylph: #bbbb8a;
$lime: #abb054;
$moss: #707326;
$meadow: #8b9c63;
$olive: #4b5131;
$marsh: #323621;
$apple: #9ab363;
$cactuar: #658240;
$hunter: #284a2c;
$ochu: #406339;
$adamantoise: #5f7558;
$nophica: #3a4d3b;
$deepwood: #1e2a21;
$celeste: #96bdb9;
$turquoise: #437272;
$morbol: #1f4646;
$ice: #b2c4ce;
$sky: #83b0d1;
$seafog: #6481a0;
$peacock: #3b6886;
$rhotano: #1d3d54;
$corpse: #8e9bac;
$ceruleum: #4f5766;
$woad: #2c364e;
$ink: #1a1f27;
$raptor: #5b7fc0;
$othard: #2f5889;
$storm: #224172;
$void: #102944;
$royal: #272f67;
$midnight: #181937;
$shadow: #373746;
$abyssal: #312d57;
$lavender: #877fae;
$gloom: #514560;
$currant: #322c3a;
$iris: #b79ebc;
$grape: #3b2a3c;
$lotus: #fecef5;
$colibri: #dc9bca;
$plum: #79526c;
$regal: #66304e;
$pure: #f9f8f4;
$jet: #1e1e1e;
$metallic-silver: #cccccc;
$metallic-gold: #ffff3d;
$metallic-red: #dc1d4b;
$metallic-green: #22f165;
$metallic-blue: #7562ff;
$pastel-pink: #fcc7c4;
$pastel-green: #b8cfa8;
$pastel-blue: #94a3d9;
$pastel-purple: #bab2d9;

// Changing the body background and text
$body-bg: $pure;
$body-color: $ink;

// Changing the theme colors
$primary: $rhotano;
$secondary: $slate;
$success: $hunter;
$info: $celeste;
$warning: $millioncorn;
$danger: $dalamud;
$light: $snow;
$dark: $soot;

// additional bootstrap theme colors (ex. classes btn-rolanberry, bg-rolanberry)
$theme-colors: (
 "snow": #e4dfd0,
 "ash": #aca8a2,
 "goobbue": #898784,
 "slate": #656565,
 "charcoal": #484742,
 "soot": #2a2922,
 "rose": #e69f95,
 "lilac": #836969,
 "rolanberry": #5b1729,
 "dalamud": #78191a,
 "rust": #622207,
 "wine": #451411,
 "coral": #cc6c5e,
 "blood": #913b27,
 "salmon": #e4aa8a,
 "sunset": #b65c2e,
 "mesa": #7d3906,
 "bark": #6a4b37,
 "chocolate": #6e3d24,
 "russet": #4f2d1f,
 "kobold": #30211a,
 "cork": #c99056,
 "qiqirn": #996e3f,
 "opo-opo": #7b5c2d,
 "alodgoat": #a2875c,
 "pumpkin": #c57424,
 "acorn": #8e581a,
 "orchard": #644215,
 "chestnut": #3c290d,
 "gobbiebag": #b9a488,
 "shale": #92816c,
 "mole": #615245,
 "loam": #3f3329,
 "bone": #ebd3a0,
 "ui": #b7a370,
 "desert": #dbb457,
 "honey": #fac62b,
 "millioncorn": #e49e34,
 "coeurl": #bc8804,
 "cream": #f2d770,
 "halatali": #a58430, 
 "raisin": #403311,
 "mud": #585230,
 "sylph": #bbbb8a,
 "lime": #abb054,
 "moss": #707326,
 "meadow": #8b9c63,
 "olive": #4b5131,
 "marsh": #323621,
 "apple": #9ab363,
 "cactuar": #658240,
 "hunter": #284a2c,
 "ochu": #406339,
 "adamantoise": #5f7558,
 "nophica": #3a4d3b,
 "deepwood": #1e2a21,
 "celeste": #96bdb9,
 "turquoise": #437272,
 "morbol": #1f4646,
 "ice": #b2c4ce,
 "sky": #83b0d1,
 "seafog": #6481a0,
 "peacock": #3b6886,
 "rhotano": #1d3d54,
 "corpse": #8e9bac,
 "ceruleum": #4f5766,
 "woad": #2c364e,
 "ink": #1a1f27,
 "raptor": #5b7fc0,
 "othard": #2f5889,
 "storm": #224172,
 "void": #102944,
 "royal": #272f67,
 "midnight": #181937,
 "shadow": #373746,
 "abyssal": #312d57,
 "lavender": #877fae,
 "gloom": #514560,
 "currant": #322c3a,
 "iris": #b79ebc,
 "grape": #3b2a3c,
 "lotus": #fecef5,
 "colibri": #dc9bca,
 "plum": #79526c,
 "regal": #66304e,
 "pure": #f9f8f4,
 "jet": #1e1e1e,
 "metallic-silver": #cccccc,
 "metallic-gold": #ffff3d,
 "metallic-red": #dc1d4b,
 "metallic-green": #22f165,
 "metallic-blue": #7562ff,
 "pastel-pink": #fcc7c4,
 "pastel-green": #b8cfa8,
 "pastel-blue": #94a3d9,
 "pastel-purple": #bab2d9
 );
